*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
}
html{
 scroll-behavior: smooth;
}
p{
 text-align: justify;
 font-size: 20px;
 line-height: 1.4;
}
.nav{
 height:46px;
 width: 100%;
 background:darkgray;
 position: fixed;
 top:0;
}
#header .nav li{
 list-style-type: none;
 display: inline-block;
 line-height: 46px;
 font-size: 20px;
}
.nav li a{
 text-decoration: none;
 color: crimson;
 padding: 12px 100px;
}
.nav li:hover a{
 background:black;
}
#part1{
 margin-top:50px;
}
.image{
 width:100%;
 height: 100%;
}
.slider{
 width:100%;
 height:50%;
 overflow:hidden;
}
figure{
 position:relative;
 left:0;
 width:400%;
 animation:10s slide infinite;
 z-index:-10;
}
.slide{
 position:relative;
 width:25%;
 float:left;
}
@keyframes slide{
 0%{
 left:0;
 }
 10%{
 left:0;
 }
 20%{
 left:-100%;
 }
 30%{
    left:-100%;
 }
 40%{
    left:-200%;
 }
 50%{
    left:-200%;
 }
 55%{
 left:-300%;
 }
 65%{
    left:-300%;
 }
 66%{
 left:-200%;
 }
 74%{
 left:-200%;
 }
 75%{
 left:-100%;
 }
 85%{
 left:100%;
 }
 90%{
 left:0;
 }
 100%{
 left:0;
 }
}
@media (max-width:739px){
.nav li a{
 text-decoration: none;
 color: crimson;
 padding: 12px 16px;
}
p{
 text-align: justify;
 font-size: 15px;
}
}
@media(min-width:740px) and (max-width:1023px){
.nav li a{
 text-decoration: none;
 color: crimson;
 padding: 11px 48px;
}
p{
 text-align: justify;
 font-size: 10px;
}
}
.wut{
 position: relative;
 top:80px;
 z-index:-11;
}